<section class="modal-explore-section">
    <img class="modal-explore-img" src="../img/popup-mob1@1x.jpg"
        srcset="../img/popup-mob1@1x.jpg 1x, ../img/popup-mob1@2x.jpg 2x" alt="Photo of employee - Mark" width="311"
        height="169" loading="lazy" />
    <div class="modal-explore-container">
        <h2 class="modal-explore-title">Explore our <span class="modal-explore-title-accent">new chocolate</span> first!
        </h2>
        <form class="modal-explore-form" name="subscribe_form">
            <label for="user_subscribe"></label>
            <div class="modal-explore-input-group">
                <input class="modal-explore-input" name="user_subscribe" type="email" id="user_subscribe"
                    placeholder="Enter your email">
                <button class="modal-explore-input-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>