<section class="container unique">
    <h2 class="unique-tittle">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-tittle-accent">TASTE</span> SENSATION</h2>
    <p class="unique-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    <ul class="unique-items">
        <li class="unique-item">
                <img class="" srcset="../img/choco-card-mob@1x.jpg 1x, ../img/choco-card-mob@2x.jpg 2x" src="../img/choco-card-mob@1x.jpg" alt="White milk chcolate" width="224">
            <p class="unique-item-description">milk chocolate</p>
        </li>
        <li class="unique-item">
            <p class="unique-item-description">milk</p>
        </li>
        <li class="unique-item">
            <p class="unique-item-description">nuts</p>
        </li>
        <li class="unique-item">
            <p class="unique-item-description">semi sweet chocolate</p>
        </li>
    </ul>
</section>
