<section class="container unique">
    <h2 class="unique-tittle">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-tittle-accent">TASTE</span>
        SENSATION</h2>
    <p class="unique-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
        From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our
        process adds up to one exceptional taste sensation.</p>
    <ul class="unique-items">
        <li class="unique-item">
            <picture>
                <source class="unique-img" srcset="../img/choco-card-desk@1x.png 1x, ../img/choco-card-desk@2x.png 2x"
                    media="(min-width: 1200px)">
                <img class="unique-img" srcset="../img/choco-card-mob@1x.png 1x, ../img/choco-card-mob@2x.png 2x"
                    src="../img/choco-card-mob@1x.png" alt="White milk chcolate">
            </picture>
            <p class="unique-item-description">milk chocolate</p>
        </li>
        <li class="unique-item">
            <picture>
                <source class="unique-img" srcset="../img/milk-card-desk@1x.png 1x, ../img/milk-card-desk@2x.png 2x"
                    media="(min-width: 1200px)">
                <img class="unique-img" srcset="../img/milk-card-tab-mob@1x.png 1x, ../img/milk-card-tab-mob@2x.png 2x"
                    src="../img/milk-card-tab-mob@1x.png" alt="Botle milk">
            </picture>
            <p class="unique-item-description">milk</p>
        </li>
        <li class="unique-item">
            <picture>
                <source class="unique-img" srcset="../img/nut-card-desk@1x.png 1x, ../img/nut-card-desk@2x.png 2x"
                    media="(min-width: 1200px)">
                <img class="unique-img" srcset="../img/nut-card-tab-mob@1x.png 1x, ../img/nut-card-tab-mob@2x.png 2x"
                    src="../img/nut-card-tab-mob@1x.png" alt="Nuts">
            </picture>
            <p class="unique-item-description">nuts</p>
        </li>
        <li class="unique-item">
            <picture>
                <source class="unique-img" srcset="../img/slice-card-desk@1x.png 1x, ../img/slice-card-desk@2x.png 2x"
                    media="(min-width: 1200px)">
                <img class="unique-img"
                    srcset="../img/slice-card-tab-mom@1x.png 1x, ../img/slice-card-tab-mob@2x.png 2x"
                    src="../img/slice-card-tab-mom@1x.png" alt="White milk chcolate">
            </picture>
            <p class="unique-item-description">semi sweet chocolate</p>
        </li>
    </ul>
</section>