/* Body ??? */
@media screen and (max-width: 767px) {
    .about-section>.container {
        font-family: 'Montserrat', sans-serif;
        /* background-color: var(--background-color); */
        /* outline: 2px dotted red; */
    }
}

.about-section .about-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--text-dark-color, #111111);
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ABOUT - SECTION HOW IT’S MADE? */

.about-section {
    --about-bg-color-item: rgba(76, 76, 76, 1);
    --background-light-color: rgba(255, 255, 255, 1);
    /* margin-bottom: 72px; */
}

.about-title {
    margin-bottom: 32px;
}

.about-title>span {
    color: var(--accent-color, #FD9222)
}

.about-video-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    max-width: 335px;
    padding-bottom: 149.26%;
    height: 0px;
    /* max-height: 500px; */
    border-radius: 15px;
    overflow: hidden;
}

.about-video-box iframe {
    /* object-fit: contain; */
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
}

.about-list {
    padding: 20px 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(24 / 18);
    color: var(--text-dark-color, #111111);
    background-color: var(--background-light-color);
    border-radius: 15px;
}

.about-item {
    position: relative;
    padding-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
}

.about-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--about-bg-color-item, #4C4C4C);
    border: 1px solid #ECEDED;
}

.about-item:first-child {
    margin-top: 20px;
}

.about-item:not(:last-child) {
    margin-bottom: 18px;
}