.hhtml {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --background-color: #fffdee;
  --background-color-dark: #f0ecd6;
  --accent-color: rgba(243, 198, 83, 1);
  --text-brown: rgba(199, 144, 2, 1);
  --footer-color: #000000;
  --white-color: #ffffff;
  --adress-color: #e5e5e5;
  --border-color: rgba(243, 198, 83, 0.7);
  --pre-title-color: rgba(180, 180, 180, 1);
  --section-title: rgba(73, 72, 72, 1);
  --section-text: rgba(122, 122, 122, 1);
  --section-text-light: rgba(186, 186, 186, 1);
  --placeholder-color: rgba(128, 128, 128, 1);
  /*
    
    */
}
body {
}

/* Colors of project*/
/* logo1  #4D5AE5 */
/*logo2  nav section_title   #2E2F42*/
/* contacts text #434455*/
/*nav bg  #E7E9FC*/
/* background E5E5E5 */
.list {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: inline-block;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 414px;
  /* width: 100vw; */
  padding-left: 15px;
  padding-right: 15px;
}
.hero-container {
  padding-top: 181px;
  padding-bottom: 20px;
  height: 740px;
  max-width: 414px;
  position: relative;

  background-image: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(../images/hero-home-mob@1x-min.jpg);
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65) 100%
      ),
      url('../images/hero-home-mob@2x-min.jpg');
  }
}
.hero-title {
  /* display: inline-block; */

  padding: 0;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--white-color);
  text-align: center;
}
@media screen and (max-width: 360px) {
  .hero-title {
    font-size: 90px;
  }
}
.hero-after-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}
@media screen and (max-width: 360px) {
  .hero-after-title {
    font-size: 14px;
  }
}
.hero-text {
  margin-top: 0;
  margin-bottom: 113px;
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--white-color);
  text-align: center;
}
@media screen and (max-width: 360px) {
  .hero-text {
    font-size: 28px;
  }
}
.hero-adress-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-adress {
  position: absolute;
  top: 64px;
  right: 15px;
  margin: 0;
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 210px;
  height: 47px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}
.hero-adress-icon {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  fill: var(--accent-color);
}
.hero-adress-text {
  margin: 0;
  padding: 0;
  margin-left: 8px;
  /* display: inline-block; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-decoration: none;
  text-align: left;
  color: var(--adress-color);
}

.hero-button-list {
  display: flex;
  flex-direction: column;
}
.hero-button-item {
  margin-left: auto;
  margin-right: auto;
}
.hero-button-item:first-child {
  margin-bottom: 24px;
}
.hero-button-item:last-child {
  margin-bottom: 58px;
}
.hero-button {
  width: 236px;
  height: 52px;

  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid var(--white-color);
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.218;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  background-color: transparent;
}
.hero-social-list {
  display: flex;
  gap: 20px;
}
.hero-social-item {
}
.hero-social-link {
}
.hero-social-icon {
  fill: var(--accent-color);
}
