.unique {
padding-top: 72px;
padding-bottom: 72px;
}

.unique-tittle {
    margin: auto;
    font-family: 'Montserrat';
font-weight: 600;
font-size: 20px;
line-height: calc(20/24);
text-align: center;
text-transform: uppercase;
color: var(--text-dark-color);
margin-bottom: 24px;
letter-spacing: -0.03em;
width: 283px;
}

.unique-tittle-accent {
    color: var(--accent-color);
}

.unique-text {
font-size: 14px;
line-height: calc(18/24);
text-align: center;
font-family: 'Montserrat';
letter-spacing: -0.02em;
}

.unique-items {
    text-decoration: none;
}

.unique-item {
    background: #FD9222;
border-radius: 15px;
}

.unique-item-description {
}